.login{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25vh;
    .title{
        text-align: center;
    }
    .form{
        min-width: 300px;
        max-width: 450px;

        .errorAlert{
            margin-bottom: 25px;
        }
    }

    .loginButton{
        width:100%;
    }
}